.singleTrending {
    overflow: hidden;
}

.singleTrending .box {
    width: 250px;
    height: 150px;
    position: relative;
    cursor: pointer;
}

.singleTrending img {
    width: 210px;
    height: 100px;
    border-radius: 5px;
}

.singleTrending .text {
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 10px;
    color: #fff;
}

.singleTrending .text h1 {
    font-size: 13px;
}